.list-todo-container {
    button {
        cursor: pointer;
    }
    

    .add-todo {
        .add {
            margin: 0 7px; 
        }
    }
    .list-todo-content{
        width: 510px;
        margin: 0 auto;


        .todo-child{
            &:first-child{
                border-top: 1px solid grey;
            }
            
            
            height: 40px; 
            border-bottom: 1px solid grey;
            margin: 10px; 

            .edit {
                margin: 0 7px; 
            }
        }
    }

    //Mình tin đã có thể làm tốt hơn, vậy thì hãy làm tốt hơn từ bây giờ
    //Từng lần đều có giá trị 
}